body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  display: block;
  background-color: lightblue;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  flex-basis: 30%;
  text-align: center;
  box-shadow: lightblue 1px 1px 1px 3px;
  margin-bottom: 15px;
}

.card img {
  width: 200px;
  padding: 14px 16px;
}

.card h3 {
  display: block;
  background-color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: yellow;
}

.card header {
  border: lightblue solid 1px;
  font-weight: bold;
}

.card p {
  text-align: left;
  padding: 1px 10px
}

.card h4 {
  text-align: left;
  padding: 1px 10px;
}

.card h5 {
  padding: 1px 10px;
  text-align: justify;
}

footer {
  text-align: left;
  padding: 1px 10px;
}
